

@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL STYLING */
body {
  @apply bg-gray-100 text-gray-800 antialiased;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 10px;
}
